{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <p> My name Stephen Utlak, and I'm the developer of this website. I've been a fan of gaming since childhood, and I
        wanted to give back to the gaming community as a way to say thank you for the years of enjoyment gaming has
        given me. I started to think about what would be something I would value as a gamer, and that led me to the
        concept for this site.</p>


    <p> Taking a step back for a moment, I first developed an interest in programming during my graduate studies at the
        University of South Carolina where I finished both a Master's and PhD in Nuclear Engineering. My PhD area of
        research was in the field of theoretical modeling, which naturally led me to using many computational tools
        including programming languages such as Python.</p>

    <p> After finishing my graduate studies in 2019, I went to the Oak Ridge National Laboratory where I worked as a
        postdoc. One research project that particularly captured my interest used machine learning to predict the
        behavior of materials. It was this project that further sparked my interest in Python as the broad spectrum of
        capabilities the language offered became more apparent.</p>

    <p> From there, I started a personal endeavour to learn as much as I could about Python ranging from machine
        learning using packages such as Keras and PyTorch to web development with Django.</p>

    <p> Around this time I accepted a job position that coincidentally provided me the opportunity to develop a website
        application, and this alignment of my personal and professional lives had my knowledge of web development
        accelerating at a rapid pace.</p>

    <p>Fast forward to now, it seemed a perfect opportunity to put my knowledge of web development to use by creating
        this site. Stay tuned for more as I continue to add new features, and if you have anything you'd like to see on
        this site or just feedback in general, you can email your thoughts to gamernewsdepot@outlook.com.</p>

    <p>Thanks everyone for getting to know a bit more about me, and if you're interested, I've included a few personal
        links below.</p>

<ul style="list-style-type:none;padding-left:0rem;margin: 0 0 3px 0;">
    <li style="margin:0 0 3px 0"><a target="_blank" href="https://github.com/Utlak88/">GitHub</a></li>
    <li style="margin:0 0 3px 0"><a target="_blank" href="https://scholarcommons.sc.edu/etd/5153/">Dissertation</a></li>
    <li style="margin:0 0 3px 0"><a target="_blank" href="https://scholar.google.com/citations?user=6BwhteMAAAAJ&hl=en&oi=ao">Google Scholar</a></li>
    <li><a target="_blank" href="https://www.linkedin.com/in/sutlak">LinkedIn</a></li>
</ul>
</div>

{% endblock content %}
