{% extends "base.html" %}

{% block content %}

	{% load crispy_forms_tags %}

	<div class="container">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Enter your email address below, and we'll send instructions for setting a new one.</p>
        <form id="#myForm" method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
            <button style="margin-top:0.5rem;margin-bottom:0.5rem" class="btn btn-primary" type="submit">Send email</button>
        </form>
  	</div>

{% endblock content %}

{% block javascript %}
$('#myForm').on('click', function (e) {
  location.href = "showModel=1";
});
{% endblock javascript %}